<header id="header" class="fixed">
  <div class="header-content clearfix"> <a class="logo" href="index.html">Petdom</a>
    <nav class="navigation open" role="navigation">
      <ul class="primary-nav">
        <li><a href="#" class="">Download App</a></li>
        <li><a href="#" class="">Features</a></li>
        <li><a href="#" class="">Blog</a></li>
        <li><a href="#" class="">Login / SignUp</a></li>
      </ul>
    </nav>
    <a href="#" class="nav-toggle close-nav">Menu<span></span></a> </div>
</header>
